*{
    margin: 0;
    padding: 0;
}

#menu ul {
    list-style-type: none;
    background: #1f5688;
    text-align: center;
}

#menu ul li{
    color: #f1f1f1;
    display: inline-table;
    width: 160px;
    height: 60px;
    line-height: 60px;
    position: relative;
}
#menu ul li a{
    color: #f1f1f1;
    text-decoration: none;
    display: block;
}
#menu ul li a:hover{
    background: #f1f1f1;
    color: #333;
}
#menu ul li > .sub-menu{
    display: none;
    position: absolute;
}
#menu ul li:hover .sub-menu {
    display: block;
}
#b{
    margin-right: 700px;
}
.chinh{
    margin-top: 50px;
}
.carousel-inner{
    margin-left: 180px;
}
#hinh_nen {
    background-image: url("img/1484644624512-0-0-1351-2163-crop-1484644639011.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.image {
    height: 400px;
    background-size: cover;
    background-attachment: fixed;
    
}

.chu_1 {
    color:white;
    display: flex;
    font-size: 1.9rem;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    margin-top: 10px;
    color: #f1f1f1;
}
.chu_2 {
    color: white;
    display: flex;
    font-size: 1.6rem;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    color:#f1f1f1;
}

.thu_muc {
    height: 540px;
    /* background-image: url(img/30-hinh-nen-cac-van-go-dep-nhat-cho-desktop-1487493869-20.jpg); */
    
    display: flex;
    flex-flow: row;
    margin-bottom: 150px;
    margin-top: 300px;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    border-radius: 10px;
}

.cap_doi {
    font-size: 2rem;
    display: flex;
    width: 350px;
    height: 350px;
    background: #c7c3c3;
    padding: 8px;
    border-radius: 6px;
    border: 1px #948e8e solid;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    text-decoration: none;
    background-image: url(img/unnamed.jpg);
    background-size: cover;
    transition: 0.3s;
    font-family: 'Charmonman', cursive;
    font-weight: bold;
    font-size: 1.6rem;
    color: white;
   
}
.cap_doi:hover {
    background-image: url(img/unnamed.jpg);
    width: 300px;
    height: 300px;
    margin: 25px;
    text-decoration: none;
    color: white;
}

.gia_dinh {
    font-size: 2rem;
    display: flex;
    width: 350px;
    height: 350px;
    background: #c7c3c3;
    padding: 8px;
    border-radius: 6px;
    border: 1px #948e8e solid;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    text-decoration: none;
    background-image: url(img/1.jpg);
    background-size: cover;
    transition: 0.3s;
    font-family: 'Charmonman', cursive;
    font-weight: bold;
    font-size: 1.6rem;
    color: white;
}

.gia_dinh:hover {
    background-image: url("img/1.jpg");
    width: 300px;
    height: 300px;
    margin: 25px;
    text-decoration: none;
    color: white;
}

.dip_le {
    font-size: 2rem;
    display: flex;
    width: 350px;
    height: 350px;
    background: #c7c3c3;
    padding: 8px;
    border-radius: 6px;
    border: 1px #948e8e solid;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    text-decoration: none;
    background-image: url("img/Choquengaynayvn1.jpg");
    background-size: cover;
    transition: 0.3s;
    font-family: 'Charmonman', cursive;
    font-weight: bold;
    font-size: 1.6rem;
    color: white;
}

.dip_le:hover {
    background-image: url("img/Choquengaynayvn1.jpg");
    width: 300px;
    height: 300px;
    margin: 25px;
    text-decoration: none;
    color: white;
}

.end {
    height: 50px;
    background-color:#212529;
    font-size: 1.12rem;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    /* flex-flow: column; */
    justify-content: center;
    display: flex;
    line-height: 50px;
}

