.menu{
    margin-top: 40px;
}
#trangchu{
    color:rgb(49, 49, 160);
}
#a{
    margin-left: 100px;
        
}
#b{
    margin-left: 300px;
}
#quanly ul li a{
    color: rgb(194, 147, 59);
}
h2{
    font-family: 'Charmonman', cursive;
}